// Colores corporativos
$color-primary: #323435;
$color-secondary: #1f4e79;
$color-text: #333;
$color-background: #fff;
$color-button-text: #fff;
$color-accent: #0a8f0a;
$color-error: #d00000;

// Tipografía

$font-section: 'Oswald', sans-serif;
$font-title:'Roboto', sans-serif;
$font-body: 'Roboto', sans-serif;
$font-button: 'Oswald', sans-serif;
