@import './variables';

.services {
    padding: 2rem 2rem;
    position: relative;
    padding-top: 80px;  // Altura del navbar
    margin-top: -80px;
  
    &__title {
      font-family: $font-section;
      font-size: 2.5rem;
      color: $color-primary;
      font-weight: bold;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
  
      @media (min-width: 600px) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      }
  
      @media (min-width: 1024px) {
        gap: 2rem;
        justify-content: center;
      }
    }
  }
  
  .service {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
  
  
    &__image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1rem;
  
      @media (max-width: 480px) {
        width: 90%;
        margin: 0 auto 1rem auto;
        display: block;
      }
    }
  
    &__name {
      font-size: 1.2rem;
      font-family: $font-title;
      color: $color-secondary;
      font-weight: 600;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  
    &__description {
      display: none;
      font-family: $font-body;
      font-size: 0.95rem;
      color: #555;
      margin-bottom: 1rem;
      text-align: center;
  
      @media (min-width: 768px) {
        display: block;
      }
    }
  
    &__button {
      position: relative;
      font-family: $font-button;
      z-index: 20;
      display: inline-block;
      background: $color-secondary;
      color: $color-button-text;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      text-decoration: none;
      margin-top: 1rem;
      text-align: center;
     
  
      &:hover {
        background-color: $color-primary;
      }
    }
  }
  